*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.App{
  height:100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background: linear-gradient(to right, #483460, #b67b9f);

}